:root {
    --accentblue: #628FA2;
    --accentblue-clear: #9cbeccab;
    --accentblue-hover: #457e97af;

    --accentgray: #8E908F;
    --accentgray-clear: #505050a1;
    --accentgray-hover: #343333a1;

    --clear: #ffffff00;
}

/*** BACKGROUND ***/
html {
    background-color: var(--accentblue);
}

body {
    background-color: var(--clear);
}

.background {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    min-width: 300px;
    object-fit: cover;
    opacity: 0.6;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

/*** LIGHT/DARK TOGGLE ***/
.toggle {
    color: black;
    font-size: 16px;
    position: fixed;
    top: 14px;
    right: 14px;
    border-color: black;
    background-color: var(--clear);
    border-radius: 15px 15px 15px 15px;
}

.dark .toggle {
    color: white;
    border-color: white;
    background-color: var(--accentgray-clear);
}

.light {
    color: black;
}

.dark {
    color: white;
}

/*** TITLE ***/
header {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 7vh;
}

h1 {
    font-family: "Bodoni Moda", serif;
    font-size: calc(35px + 5vw);
    text-align: center;
    margin: 0px 20px 0px 20px;
}

h2 {
    font-family: "DM Sans", sans-serif;
    font-size: calc(22px + 1vw);
    font-weight: 280;
    letter-spacing: 4px;
    text-align: center;
    transform: scaleY(1.05);
    margin: 0px 26px 0px 26px;
}


/*** MAIN NAGIVATION AREA ***/
main {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center */
    padding: 40px 0px 20px 0px;
}

.adventure, .location {
    background-color: var(--accentblue-clear); /* Set color of main buttons */
    width: calc(30px + 60vw);
    margin: 0px 6vw 20px 6vw;
    border: 1px solid #000000;
    display: flex;
    align-items: center;
    border-radius: 15px 15px 15px 15px;
}

.dark .adventure, .dark .location {
    background-color: var(--accentgray-clear);
    border: 1px solid #ffffff;
}

.clickable:hover {
    color: black;
    background-color: var(--accentblue-hover)
}

.dark .clickable:hover {
    color: white;
    background-color: var(--accentgray-hover)
}

.adventure-body, .location-body {
    padding: 4px 0px 0px 0px;
}

h3 {
    font-family: "DM Sans", sans-serif;
    font-size: calc(20px + 2vw); 
    font-weight: 300;
    text-align: center;
    letter-spacing: 5px;
    display: flex;
    justify-content: center; /* Center text */
    margin: 12px;
    transform: scaleY(1.05);
}

.dark h3 {
    color: white;
}

h3:hover {
    color: black;
}

.dark h3:hover {
    color: white;
}

a {
    text-decoration: none; /* Remove link look */
    color: black;
}

/*** FEATURED LOCATIONS ***/
.location-body {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.place {
    text-align: center;
    width: calc((100% - 80px) / 3);
    min-width: 175px;
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin: 12px;
    padding: 8px 8px 16px 8px;
}

h4 {
    text-align: center;
}

.place-body img {
    width: 95%;
    height: 86%;
    border-radius: 15px 15px 15px 15px;
    margin-bottom: 10px;
}